@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Source+Code+Pro:wght@300&display=swap');

*{

    margin: 0;
    padding: 0;
    /* overflow: hidden; */

}

/* body {
 background-color: #735977;
} */



.sidebar{

    background-color: grey;
    font-family: 'Fira Sans', sans-serif;
    /* width: 434px; */
    height: 100vh;
    transition: transform 0.3s ease-in;
    position: absolute              ;

}

.sidebar nav {

    padding: 45px;

}
.sidebar nav li {

    list-style: none;
    font-size: 30px;
    padding: 33px 0;
   
}
.sidebar nav li a {

    text-decoration: none;
    color: black;
   
}

.main{

    /* background-color: yellow; */
    width: 90vw;
}


.container {

    display: flex;
}

.infoContainer{

    /* background-color: #bb1bad; */
    height: 58vh;
    width: 80vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;


}

.devInfo {
    font-size: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Source Code Pro', monospace;

}

.devPic img {

    height: auto;
    /* border-radius: 180%; */
    /* margin-right: 10px; */
    border-radius: 50%;
    display: flex;
    width: 200%;
    margin-top: 4rem;


}



.hello {

    font-size: 2rem;
    margin-left: 1.2rem;

}


.name {

    font-size: 3em;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
    margin-left: 1.2vw;


}


.about{

    font-size: 2rem;
    margin-left: 1.2vw;



}

.moreAbout {

    font-size: 1.2rem;
    margin-top: 23px;
    font-family: 'Fira Sans', sans-serif;
    margin-left: 1rem;
    color: black;    
}


.buttons {

    margin-top: 32px;
    font-size: 10px;
}

.buttons button {
    padding: 2px 4px;
    border-radius: 22px;
    color: white;
    background-color: dodgerblue;
    font-weight: bold;
    font-size: 2em;
    margin: 2px 2px;
    cursor: pointer;

}

.buttons button:hover {
    background-color: white;
    color: dodgerblue;
}

.contactform{

    font-family: 'Fira Sans', sans-serif;
    padding: 0 34px;
    margin: 0 88px;
}

.contactform h1{

    font-family: 'Fira Sans', sans-serif;
    /* text-align: center; */
    /* padding: 12px 0; */
    font-weight: bold;  
    

}

.contactform form div {

    padding: 10px 0;
    margin: 10px;
    display: flex;
    flex-direction: column;
}


.contactform{ 

    margin: 0 40px;
}

#emailHelp  {
    
    font-size: 8px;
    color: midnightblue;
    margin: 0 5px;

}

.contactform form div input{
    /* width: 26vw; */
    border-radius: 5px;
    margin: 6px 0 0 0;
    padding: 3px;
}

#form-check {

    flex-direction: row;

}
#form-check  input{

    width: 20px;
    display: flex;

}

.submit {
    margin-left: 10px;
    padding: 6px 10px;
    border-radius: 22px;
    color: white;
    background-color: dodgerblue;
    font-weight: bold;
    font-size: 15px;
    margin: 0 3px;
    cursor: pointer;

}

.intro {
    margin: 0 88px;
    /* margin-left: 50vw; */
}

.intro  h2 {
    font-family: 'Fira Sans', sans-serif;
    margin: 12px;
    margin-left: 2vw;

}

.intro p {
    font-family:  'Source Code Pro', monospace;
    margin: 12px;
}

.row::after {
    display: flex;
    box-sizing: border-box;
  }

.row img {
    height: 6vw;
    width: 12vw;
    margin-left:  1.2vw;
    max-height: 14rem;
    /* padding: 1vw;
    max-width: 10vw;
    margin-left: 3rem;
    display: flex; */
}



.column{
    flex: 33.33%;
  padding: 5px;
    font-family: 'Source Code Pro', monospace;
}

/* .skill {

    width: 265px;
    height: 6px;
    background-color: white;
    border: 2px solid black;
   
} */


.projectContainer{
    align-items: center;
    /* background-color: pink; */
    width: 100%;
    display: grid;
    margin: 0 88px;
    font-family: 'Fira Sans', sans-serif;
}

.projectContainer img{
    height: 12vw;
    width: 12vw;
    padding: 12px;
}

.projectContainer h1 {
    color: black;
    padding: 12px;
}
.sidebarGo{
    
        transform: translate(-443px, 0px);
        position: absolute;
   
}


.hamburger {
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;

}


.ham{
    margin-top: 10px;
}


.cross {
    margin-left: 165px;
    margin-top: 10px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    color: white;
    text-align: center;
    height: 30%;
  }

  .contactMe img {

    height: 10vw;
    background: none;
    margin-top: 3rem;
    margin: 4vw;
    /* margin-top: 20px; */

  }

  
  

@media screen and( max-width: 1515px) {
  

    
    .devPic img{

        /* display: none; */

       
    }


    .buttons {
    
        font-size: 6px;
    }

    
    .devInfo {

        font-size: 10px;

    }
    
    
    .intro, .contactform{
    
        margin: 50px 8px;
    
    }
  
}
    
    
    
    

